################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TibcoModernizationAMPS/.vs
/TibcoModernizationAMPS/InboundWorker/bin/Debug/net9.0
/TibcoModernizationAMPS/InboundWorker/obj
/TibcoModernizationAMPS/OutboundWorker/bin/Debug/net9.0
/TibcoModernizationAMPS/OutboundWorker/obj
/TibcoModernizationAMPS/SharedContracts/bin/Debug/net9.0
/TibcoModernizationAMPS/SharedContracts/obj
/TibcoAdbMigration/.vs
/TibcoAdbMigration/src/TibcoAdb.Api/obj
/TibcoAdbMigration/src/TibcoAdb.Application/bin/Debug/net9.0
/TibcoAdbMigration/src/TibcoAdb.Application/obj/Debug/net9.0
/TibcoAdbMigration/src/TibcoAdb.Application/obj
/TibcoAdbMigration/src/TibcoAdb.Contracts/bin/Debug/net9.0
/TibcoAdbMigration/src/TibcoAdb.Contracts/obj
/TibcoAdbMigration/src/TibcoAdb.Domain/bin/Debug/net9.0
/TibcoAdbMigration/src/TibcoAdb.Domain/obj
/TibcoAdbMigration/src/TibcoAdb.Infrastructure/obj
/TibcoAdbMigration/src/TibcoAdb.Publisher.Worker/obj
/TibcoAdbMigration/src/TibcoAdb.Subscriber.Worker/obj
/TibcoAdbMigration/tests/TibcoAdb.Tests/bin/Debug/net9.0
/TibcoAdbMigration/tests/TibcoAdb.Tests/obj
/TibcoMigrationDemo/01-AMPS/.vs
/TibcoMigrationDemo/01-AMPS/Company.Tibco.Amps.Abstractions/bin/Debug/net8.0
/TibcoMigrationDemo/01-AMPS/Company.Tibco.Amps.Abstractions/obj
/TibcoMigrationDemo/01-AMPS/Company.Tibco.Amps.Client/bin/Debug/net8.0
/TibcoMigrationDemo/01-AMPS/Company.Tibco.Amps.Client/obj
/TibcoMigrationDemo/01-AMPS/Company.Tibco.Amps.DependencyInjection/bin/Debug/net8.0
/TibcoMigrationDemo/01-AMPS/Company.Tibco.Amps.DependencyInjection/obj
/TibcoMigrationDemo/02-ADB/.vs
/TibcoMigrationDemo/02-ADB/Company.Tibco.Adb.Abstractions/bin/Debug/net8.0
/TibcoMigrationDemo/02-ADB/Company.Tibco.Adb.Abstractions/obj
/TibcoMigrationDemo/02-ADB/Company.Tibco.Adb.Core/bin/Debug/net8.0
/TibcoMigrationDemo/02-ADB/Company.Tibco.Adb.Core/obj
/TibcoMigrationDemo/02-ADB/Company.Tibco.Adb.Database/obj
/TibcoMigrationDemo/02-ADB/Company.Tibco.Adb.DependencyInjection/obj
/TibcoMigrationDemo/01-AMPS/Company.Tibco.Amps.Abstractions/bin/Release/net8.0
/TibcoMigrationDemo/01-AMPS/Company.Tibco.Amps.Client/bin/Release/net8.0
/TibcoMigrationDemo/01-AMPS/Amps.Demo/.vs/Amps.Demo
/TibcoMigrationDemo/01-AMPS/Amps.Demo/bin/Release/net8.0
/TibcoMigrationDemo/01-AMPS/Amps.Demo/obj
/TibcoMigrationDemo/02-ADB/Company.Tibco.Adb.Database/bin/Debug/net8.0
/TibcoMigrationDemo/04-Contracts/.vs/Company.Tibco.Contracts
/TibcoMigrationDemo/04-Contracts/Company.Tibco.Contracts/obj
/TibcoMigrationDemo/04-Contracts/Company.Tibco.Contracts/bin/Debug/net8.0
/TibcoMigrationDemo/03-BW/Bw.Processes/obj/Debug/net8.0
/TibcoMigrationDemo/03-BW/Bw.Processes/obj
/TibcoMigrationDemo/03-BW/Bw.Api/obj
/TibcoMigrationDemo/03-BW/.vs
